*{
    margin: 0;
    padding: 0;
}

footer{
    padding-top: 20px;
}

body{
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: aliceblue;
    font-family: 'Poppins';
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 108);
    font-weight: 500;
}

.container{
    background-color: rgb(190, 190, 255);
    display: flex;
    justify-content: flex-start;
    width: 360px;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 50px;
    height: 500px;
    border: solid rgb(0, 0, 96) 10px;
}

button{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-right: 10px;
    width: 80px;
    height: 50px;
    text-align: center;
    align-items: center;
    border: none;
    font-family: 'Poppins', sans-serif;
    flex-direction: row;
    border: solid rgb(0, 0, 96) 5px;
    border-radius: 10px;
    background-color: rgb(190, 190, 255);
    font-weight: 500;
    cursor: pointer;
}

.display{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: aliceblue;
    margin-bottom: 5px;
    width: 350px;
    height: 80px;
    text-align: right;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    border: solid rgb(0, 0, 96) 5px;
    border-radius: 10px;
    background-color: rgb(222, 220, 255);
}

#zero{
    width: 169px;
}

button:hover{
    background-color: rgb(175, 254, 254);
}
button:active{
    background-color: rgb(212, 255, 255);
}

.equals{
    background-color: orange;
}
.equals:hover{
    background-color: rgb(255, 191, 73)
}
.equals:active{
    background-color: rgb(255, 213, 135)
}

.operator{
    background-color: blue;
    color:white;
}
.operator:hover{
    background-color: rgb(70, 70, 255);
}
.operator:active{
    background-color: rgb(130, 130, 255);
}
.function{
    background-color: rgb(0, 0, 126);
    color: aliceblue;
}
.function:hover{
    background-color: rgb(0, 0, 190);
}
.function:active{
    background-color: rgb(0, 0, 255);
}